header{
    margin-left: 135px;
    color: #3A3A3A;
}

body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

main {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 1325px;
         
}

.popular-collection{
    text-align: center;
    color:  #18191F;
    margin-top: 100px;
    margin-bottom: 50px;
}
.popular-title{
    color: #3A3A3A;
   
}
.title-weight{
    font-weight: bold;
    font-size: 35px;
    color: #3A3A3A;;
}
.start-part{
margin-top: 90px;

}

.initial-part{
    display: flex;
    margin-bottom: 100px;
    
}
.Preebook-button{
    background-color:#E02C6D; 
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 25px;
    color: white;
    
}
.button-margin-bottom{
    margin-bottom: 30px;
}
.camera img{
    width: 85%;
    margin-left: 50px;
    
}
.camera img:hover{
   
    transform: scale(1.2) rotate(-30deg);
    
    transition: transform 0.5s ease-out;
    
}

.logo{
    text-align: center;
    padding: 20px;
   
}
.logo-margin{
    padding: 20px;
}

hr{
    border: solid rgba(128, 128, 128, 0.432) 1px;
    width:1110px ;
    
}
.rating{
    color: #FB8200;
    margin-right: 5px;
    font-size: 14px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 30px;
    margin-top: 40px;
}
.collection{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
}
.font-Inter{
    font-family: 'Inter', sans-serif;
    color: gray;
}
.see-more{
    text-align: end;
    color: #E02C6D
    ;
}
.all-gadget{
    display: flex;
    width: 1110px;
    padding: 70px;
    margin-top: 50px;
    
}
.all-gadget img{
    width: 90%;
    border-radius: 10px;
    margin-bottom: 90px;
}
.join-button{
    background-color: #E02C6D;;
    padding: 10px 24px;
    text-decoration: none;
    color: white;
}
.arrow-margin{
    margin-left: 7px;
}
footer{
    text-align: center;
    background-color: #0A0826;
    color: white;
    padding: 15px;
}
.footer-influencer{
    font-family: 'Poppins', sans-serif;
}
.footer-copy{
    font-family: 'Manrope', sans-serif;
}

.fab {
    margin-right: 10px;
    color: white;
}
/* media query */


/* For mobile devices */

@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    }
    .initial-part{
        padding: 20px;
        flex-direction: column; 
    }
    
    .start-part{
        order: 2;
    }
    .logo-media {
        width: 100%;
      
    }
    .logo{
        display: flex;
        flex-direction: column;
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
     
    }
    .all-gadget{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        
    }
    .footer-media{
        width: 100%;
        margin-top: 100px;
    }
   
}


/* for Tablets */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    
    
    .container{
        width: 100%;
    }
    .initial-part{
       display: flex;
       
          
    }
    .start-part{
        
        width: 45%;
    }
    .camera{
        width: 60%;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .logo-media {
        width: 100%;
        
    }
    .logo{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
    }
    .collections{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
     
    }
    .all-gadget{
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 15px;
        
    }
    .footer-media{
        width: 100%;
        margin-top: 100px;
    }
   
     
}